.register-page {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.514);
  width: 400px;
  text-align: center;
}
.btn {
  margin-top: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
h4 {
  margin-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
